.box {
    background-color: white;
    display: flex;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.08),
        0 4px 10px rgba(0, 0, 0, 0.04);
    justify-content:space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
}

.initial-letter-container {
    background-color: lightgray;
    border-radius: 100%;
    padding: 5px;
}

.contact-name-number {
    display: flex;
    flex-direction: column;
}

#name {
    font-weight: 500;
}

.image-container {
    width: 25px;
    height: 25px;
    margin-left: auto;
}

.image-container img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    cursor: pointer;
}

mat-icon {
    cursor: pointer;
}