@for (contact of contacts; track contact) {
    <div class="box">
            <div class="initial-letter-container">
                <span id="span-initial-letters">{{ getInitialLetters(contact.name) }}</span>
            </div>
            <div class="contact-name-number">
                <span id="name">{{ contact.name }}</span>
                <span id="number">{{ contact.number }}</span>
            </div>
            <div class="image-container">
                <a [href]="whatsappLink(contact.number)" target="_blank"><img src="whatsapp.png" alt="Whatsapp"></a>
            </div>
            <button (click)="editContact(contact.id, contact.name, contact.number)">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteContact(contact)">
                <mat-icon>delete</mat-icon>
            </button>
    </div>
}

<!--@if (selectedContact) {
    <app-create-update-page 
        type="edit"
        [contact]="selectedContact">
    </app-create-update-page>
}-->
